<div class="footer">
    <ul>
        <li>
          <a >Become a Seller</a>
        </li>
        <li>
          <a >Polices</a>
        </li>
        <li>
          <a >Terms and Conditions</a>
        </li>
        <li>
          <a>Help Center</a>
        </li>
        <li>
            <a>News</a>
        </li>
        <li>
            <a>Facebook</a>
        </li>
        <li>
            <a>Youtube</a>
        </li>
        <li>
            <a>Sitemap</a>
        </li>
        <li>
            <a>FAQ</a>
        </li>
      </ul>
      <p>© 2024 E-comm Project</p>
      
</div>