.my-orders h1{
margin-top: 80px;
margin-bottom: 50px;
text-align: center;
color: black;
}
.my-orders{
    margin-bottom: 75px;
}
.my-orders .order-img{
    width: 100px;
}
.order-data{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
