.product-display {
    margin-top: 300px;
}

.crousel {
    margin-top: 70px;
    background-color: #415A77;

}

.container-fluid {
    margin-bottom: 50px;
}

.image-product {
    object-fit: contain;
    height: 500px;
    width: 100%;
    background-color: rgb(32, 26, 26);

}

.product-header-image {
    object-fit: contain;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: grey;
    background-color: transparent;
}
.product-item{
    background-image: none;
}

.product-item {
    margin-bottom: 40px;
    border: 1px solid #ccc;
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-item .product-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.product-item .name-head {
    font-size: 20px;
    font-weight: 600;
}

.product-item h6 {
    text-align: center;
}

.product-item .product-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-list-wrapper {
    margin-top: 50px;
}

.product-list-wrapper h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.product-footer a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}