<div class="checkout">
    <h1>Checkout</h1>
    <p class="msg-p">{{orderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shipping-address">
            <h3>Add Shipping Address</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderedNow(orderData.value)">
                <input type="email" class="form-input" name="email" placeholder="Enter the Email" ngModel
                    #email="ngModel" required email>
                <div *ngIf="email.invalid && email.touched" class="invalid-input">
                    <div *ngIf="email.errors?.['required']">The value should be fiiled</div>
                    <div *ngIf="email.errors?.['email']">The email should be valid</div>
                </div>
                <input type="text" class="form-input" name="address" placeholder="Enter the Address" ngModel
                    #address="ngModel" required minlength="10">
                <div *ngIf="address.invalid && address.touched" class="invalid-input">
                    <div *ngIf="address.errors?.['required']">The value should be fiiled</div>
                    <div *ngIf="address.errors?.['minlength']">The length should be at least 10 characters</div>
                </div>
                <input type="email" class="form-input" name="contact" placeholder="Enter the Contact" ngModel
                    #contact="ngModel" required minlength="10">
                <div *ngIf="contact.invalid && contact.touched" class="invalid-input">
                    <div *ngIf="contact.errors?.['required']">The value should be fiiled</div>
                    <div *ngIf="contact.errors?.['minlength']">The length should be at least 10 characters</div>
                </div>
                <button class="form-button" [disabled]="orderData.invalid">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5 payment">
            <h3>Total Amount {{totalPrice}}</h3>
            <h4>Payment Method : <b><input type="checkbox">Online pay</b></h4>
        </div>
    </div>
</div>